<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion – SkillSwap</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>

    <main class="auth-container">

        <header class="auth-header">
            <h1>Connexion</h1>
            <p>Accédez à votre compte SkillSwap</p>
        </header>

        <form method="POST" class="auth-form">
            <input name="email" type="email" placeholder="Adresse email" required />

            <input name="password" type="password" placeholder="Mot de passe" required />

            <button>Se connecter</button>
        </form>

        <div class="auth-footer">
            <p>Pas encore de compte ?</p>
            <a href="/register">Créer un compte</a>
        </div>

    </main>

</body>

</html>